
.modal {
	display: flex;
	/* postion+ offset: Take the entire screen
     z-index: modal overlay the viewport*/
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transform: scale(1.2);
	transition: all 0.3s ease-out;
	background-color: rgba(255, 255, 255, 0.94);
	z-index: 5;

	&--is-visible {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	&__inner {
		/* flex:1 take all available space
			 margin:auto: center horizontally  */
		flex: 1;
		margin: auto;
	}

	&__description {
		text-align: center;
		font-size: 2rem;
		font-weight: 300;
		line-height: 1.65;
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 2rem;
		color: $mainBlue;
		transform: scaleX(1.2);
		transform-origin: 100% 0;
		cursor: pointer;

		&:hover {
			color: $mainOrange;
		}
	}
}

.social-icons {
	text-align: center;

	&__icon {
		background-color: $mainOrange;
		display: inline-block;
		width: 33%;
		height: 72px;
		margin: 0 5px 5px 5px;
		position: relative;

		@mixin md {
			width: 72px;
		}

		img {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
